# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# VS Code settings
.vscode/



# Descargas y archivos temporales
downloads/
zips/
temp/

# Archivos de configuración específicos del usuario
config.ini
.env

# Logs
*.log
logs/
